.MsgInputHidden {
	display:none;
}

body {
	width:100%;
	height:100%;
	background:#efefef;
	color:black;
}
/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
 
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}




/*************
*** Fonts ***
*************/

h6 {
	padding:5px;
	margin:0px;
	font-weight: 400;
	font-family: sans-serif;
	font-style: inherit;
}
h5 {
	padding:5px;
	margin:0px;
	font-family: sans-serif;
	font-style: inherit;
}
h4 {
	padding:0px;
	margin:0px;
}
h3 {
	padding:0px;
	margin:0px;
}
h2 {
	padding:0px;
	margin:0px;
}
h1 {
	padding:0px;
	margin:0px;
}
/*************
*** Navbar ***
*************/
.Logo {
	position: fixed;
	width:40px;
	height:40px;
	margin:0px;
	padding:0px;
	float:left;
}
.Search {
	width:14%;
	height:20px;
	margin:0px;
	padding:2px;
	position: fixed;
	top:10px;
	left:40px;
	font-size:10px;
	border:0px;
	color:black;
	border-radius: 3px;
}
.Navbar {
	width:100%;
	top:0px;
	float:top;
	height:50px;
	z-index: 100;
	position: fixed;
}
.navbar-fixed {
  position: relative;
  top:0px;
  
}
nav {
  width: 100%;
  color: #efefef;
  background: #2e2e2e;
  font-weight: bold;
  letter-spacing: 0.025em;
}
nav ul {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width:70%;
}
nav ul li {
 display: inline-block;
 width:12%;
 text-align: center;
 padding: 0 0em 0 0em;
 line-height: 3em;
 
}
@media (max-width:770px) {
nav ul li {
	 display: inline-block;
 width:12%;
 text-align: center;
 padding: 0 2em 0 0em;
 line-height: 3em;
 height:41.5px;
font-size: x-small;
 
}
}
@media (max-width:500px) {
nav ul li {
	 display: inline-block;
 width:12%;
 text-align: center;
 padding: 0 2em 0 0em;
 line-height: 3em;
 height:41.5px;
font-size: 30%;
 
}
}
nav ul li:hover {
  background: #efefef;
  color:black;
}
.active {
  background: #efefef;
  color:black;
}
.filler {
  width: 1px;
  height: 40px;
  margin:0px;
}

.two {
  height: 40px;
}

a {
	color:inherit;
  text-decoration: none; /* no underline */
}


/*************
**** Home ****
*************/
.Home_Cont {
	margin-top:40px;
	background:#efefef;
	width:100%;
	overflow:scroll;
	height:100%;
	z-index: 50;
	position: fixed;
}
/*************
**** Home-left ****
*************/
.Left_Cont {
	position: fixed;
	background:#efefef;
	width:200px;
	padding:10px;
	left:0px;
	height:100%;
	
		}

.CreateLeftContPGEC {
	padding:0px;
	margin:0px;
	display:inline-block;
	font-weight: bold;
}
.CreateLeftContPGEC:hover {
	color:#1086fc;
	
}
/*************
**** Home-Feed ****
*************/
.Center_Cont iframe {
	max-width:480px;
	max-height:500px;
	position: relative;
}

.FeedContLoadFormBtn {
	width:60px;
	height:20px;
	background:#65f1ab;
	border:1px solid gray;
	padding:0px;
	font-size:15px;
}
.FeedContLoadFormBtn:hover {
	background:white;
	color:black;
	border:1px solid gray;
	padding:0px;
	font-size:15px;
	
}
.Center_Cont {
	position: fixed;
	background:#d9d9d9;
	width:600px;
	height:100%;
	z-index: 100;
			overflow-x: scroll;

padding-bottom:100px;
	margin-left:20%;

	}
.Feed_Upload_Textarea {
	width:350px;
	margin-top:10px;
	margin-left:15px;
	height:40px;
	resize:none;
}
.Feed_Upload_Cont {
	width:500px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	height:120px;
	padding:5px;
	border-radius: 3px;
	margin-top:20px;
	background:#efefef;
}
.Feed_Upload_Top_Cont {
	position: relative;
	width:100%;
	height:70%;
	background:#efefef;
}
.Feed_Upload_Bottom_Cont {
	width:100%;
	position: relative;
	height:30%;
}
.Feed_Post_Btn_Cont {
	width:20%;
	height:100%;
	float:right;
	position: relative
}
.Feed_Foot_Features {
	width:80%;
	height:100%;
		padding:5px;

	position: relative;
	float:left;
}
.Feed_Upload_Profile_Cont {
	width:80px;
	height:80px;
	float:left;
	position: relative;
}
.Feed_Upload_Txt_Cont {
	width:80%;
	float:right;
	height:100%;
	position:relative;
}


.Feed_Repeat_Cont {
	width:500px;
	position: relative;
	height:auto;
	margin-left:auto;
	
	padding:10px;
	background:#efefef;
	margin-right:auto;
	margin-top:5%;
}
.Feed_Repeat_Cont_Profile_Img {
	width:50px;
	height:50px;
	float:left;
	position: relative;
}
.Feed_Comment_Loop_Cont_Txt {
	width:80%;
	margin-left:50px;
	height:auto;
	background:white;
	border-radius: 3px;
}
.Feed_Comment_Loop_Cont_Row {
	width:100%;
	height:20px;
	position: relative;
}
.Feed_Comment_Loop_Cont {
	width:100%;
	height:80px;
	overflow:auto;
	padding:0px;
}
.Feed_Comment_Loop_Pic {
	width:40px;
	height:40px;
	border-radius: 3px;
	float:left;
	margin-right:10px;
	position: relative;
}
.Comment_Txt_Box {
	width:90%;
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
}
.Feed_Repeat_Header_Cont {
	height:50px;
	width:500px;
	position: relative;
}
.Feed_Repeat_Cont_Media {
	height:auto;
	min-height:60px;
	width:500px;
	position: relative;
}
.Feed_Repeat_Cont_Footer {
	height:30px;
	top:0px;
	width:500px;
	position: relative;
}
.Feed_Repeat_Cont_Title {
	height:50px;
	width:450px;
	display:block;
	float:right;
	position: relative;
}
.Feed_Repeat_Cont_Img {
	max-height:200px;
	max-width: 480px;
	position: relative;
}
.LikesDislikesComments {
	
}
.FeedComments {
	height:auto;
	top:0px;
	width:500px;
	position: relative;
}
.Likes_Dislikes_Comment {
	width:500px;
	height:40px;
	position: relative;
	top:0px;
}
/*************
**** Divider Line ****
*************/
.divider {
	height: 30px;
}

.hr {
	content: "";
	margin-top:0px;
	height: 1px;
	background: #d9d9d9;
	display: block;
	width:95%;
}

.hr-dot {
	width: 10px;
	height: 10px;
	border: 2px solid #d9d9d9;
	background: #fff;
	border-radius: 100%;
	margin-top: -5px;
	left: 49%;
	margin-left: -5px;
	display: block;
	position: absolute;
}

/*************
**** Home-Right ****
*************/
.Center_Right_Cont {
	position: fixed;
	background:#e9eaed;
	width:310px;
		padding:10px;

	height:100%;
	right:200px;
	
	}

/*************
**** Home-Chat ****
*************/
.ChatRowPop {
		width:auto;
		height:300px;
		right:200px;
		bottom:0px;
		position: fixed;
		z-index: 100;
	}
	.ChatActivePop {
		border:1px solid gray;
		border-top-left-radius: 5px;
border-top-right-radius: 5px;
		height:100%;
		margin-right:8px;
		position: relative;
		width:250px;
		z-index: 500;
		float:right;
	}
	.ChatPopHead {
		width:100%;
		border-top-left-radius: 5px;
border-top-right-radius: 5px;
		height:30px;
		padding:2px;
		background:#d9d9d9;
		
	}
	.ChatPopMsg {

	}
	.ChatPopFoot {
		width:100%;
		
		height:20px;
		background:#d9d9d9;
		bottom:0px;
	}
	.ChatPopFootTxt {
		resize: none;
		width:100%;
		height:100%;
		
	}
	.ChatMinPop {
		border:1px solid gray;
		border-top-left-radius: 5px;
border-top-right-radius: 5px;
		height:30px;
		margin-top:270px;
		margin-right:8px;
		position: relative;
		width:250px;
		z-index: 500;
		float:right;
	}
.Right_Chat_Cont {
	position: fixed;
	background:#e9eaed;
	width:200px;
	border-left:1px solid #ccc;
	height:100%;
	right:0px;
	
	float:right;

	}
	
.Chat_Header_Cont {
	position: fixed;
	float:right;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	width:200px;
	height:30px;
	padding:0px;
	margin-bottom:0px;
	right:0px;
	background:#e9eaed;
}
.Chat_Usr_Cont {
	position: fixed;
	float:right;
	margin-top:30px;
	overflow: scroll;
	width:200px;
	height:87%;

}
.Chat_Footer_Cont {
	position: fixed;
	float:right;
	width:200px;
	height:30px;
	right:0px;
	bottom:0px;
	background:white;
}
.Search_Usr {
	width:100%;
	height:30px;
	margin:0px;
	float:bottom;
	padding:2px;
	position: relative;
	font-size:10px;
	background-color:white;
	border:1px solid #ccc;
	color:black;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}

.Chat_Usr_Loop {
	position: relative;
	width:100%;
	height:30px;
	margin-top:3px;
	padding:0px;
	background:#d9d9d9;
}
.Chat_Usr_Loop:hover {
	background:white;
}
.Usr_Pic_Loop {
	width:30px;
	height:30px;
	border-radius: 5px;
	position: relative;
	display: inline-block;
	padding:0px;
	margin:0px;
}
/*************
** Settings **
*************/
.CustomLayoutPresetBtn {
	background:none;border:0px;
}
.CustomLayoutPresetBtn:hover {
	background:none;
}
.CustomLayoutPresetImg {
	width:100%;
	height:100%;
	position: relative;
	bottom:0px;
	border:0px solid rgba(0,0,0,0.5);
	-webkit-transition: width .4s linear;
	-moz-transition: width .4s linear;
	-o-transition: width .4s linear;
	-ms-transition: width .4s linear;
	transition: width .4s linear;
	-webkit-transition: border .4s linear;
	-moz-transition: border .4s linear;
	-o-transition: border .4s linear;
	-ms-transition: border .4s linear;
	transition: border .4s linear;

}
.CustomLayoutPresetImg:hover {
	width: 450px;
	height:auto;
	position: relative;

	border:30px solid rgba(0,0,0,0.5);
	z-index: 900;
}
.AccountSet {
	width:100%;
	height:50%;
	bottom:0px;
	position: relative;
	background: #e9eaed;
}
.CustomStylesCont {
	width:50%;
	margin-top:50px;
		border: 1px solid #ccc;
		border-left:0px;
	height:100%;
	float:right;
}
.NotificationCont {
	width:50%;
	height:50%;
		border: 1px solid #ccc;

	margin-top:50px;
	float:left;
}
.LayoutCont {
	width:50%;
	height:43.5%;
	float:left;
	background:none;
	position: fixed;
	bottom:0px;
	border: 1px solid #ccc;

}
.SettingsBtn {
	border:1px solid white;
	padding:0px;
	border-radius: 3px;
	background:#55ff8b;
	
	
	font-size:13px;width:55px;height:22px;
}
.SettingsBtn:hover {
	background:lightblue;
	color:black;
}



.Message {
  display: table;
  position: relative;
  margin: 40px auto 0;
  width: 90%;
  background-color: #0074D9;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.Message.is-hidden {
  opacity: 0;
  height: 0;
  font-size: 0;
  padding: 0;
  margin: 0 auto;
  display: block;
}

.Message--orange {
  background-color: #F39C12;
}

.Message--red {
  background-color: #FF4136;
}

.Message--green {
  background-color: #2ECC40;
}

.Message-icon {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}
.Message-icon > i {
  width: 20px;
  font-size: 20px;
}

.Message-body {
  display: table-cell;
  vertical-align: middle;
  padding: 30px 20px 30px 10px;
}
.Message-body > p {
  line-height: 1.2;
  margin-top: 6px;
}

.Message-button {
  position: relative;
  margin: 15px 5px -10px;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px rgba(0, 0, 0, 0.4);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'Source Sans Pro';
  outline: none;
  cursor: pointer;
}
.Message-button:hover {
  background: rgba(0, 0, 0, 0.3);
}
.Message-button:active {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px rgba(0, 0, 0, 0.4);
  top: 3px;
}

.Message-close {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  font-size: 20px;
  right: 5px;
  top: 5px;
  opacity: 0;
  cursor: pointer;
}
.Message:hover .Message-close {
  opacity: 1;
}
.Message-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}







#controlpanel {
  width: 400px;
  border-top: 5px solid #111;
  border-bottom: 5px solid #111;
}
header {
  border-bottom: 1px solid #111;
}
header h1 {
  line-height: .1em;
  font-family: "Oswald";
  text-transform: uppercase;
}
header p {
  font-size: 18px;
  line-height: 18px;
}

input:focus {
  border: 1px solid #111;
  outline: 0;
}
.border {
  border-bottom: 1px solid #111;
}
button {
  border: 1px solid #111;
  color: #111;
  background: white;
  border-radius: 4px;
  padding: .5em 1em;
  font-size: 18px;
  margin: .5em 0;
  transition: .5s all;
  font-family: "Roboto";
}
button:hover {
  background: #111;
  color: white;
}
input.switch:empty {
	margin-left: -999px;
}
input.switch:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.switch:empty ~ label:before, 
input.switch:empty ~ label:after {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #FF4136;
	border-radius: 10em;
	-webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
input.switch:empty ~ label:after {
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 100%;
	
}
input.switch:checked ~ label:before {
	background-color: #2ECC40;
}
input.switch:checked ~ label:after {
	margin-left: 2.1em;
}






.colorPicker {
  margin-top: 1em;
  font-size: 0.875em;
  text-align: center;
  display: inline-table;
  width: 100%;
  max-width: 40em;
  background: #fff;
  padding: 2px;
  border-radius: 0.35em;
  box-shadow: 0 0.5em 1.5em rgba(0,0,0,0.15);
}
.colorPicker label {
  -webkit-tap-highlight-color: rgba(255,255,255,0.5);
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;
  padding: 0.5em 1em;
  text-transform: capitalize;
  letter-spacing: -0.5em;
  color: transparent;
  opacity: 0.35;
  width: 1%;
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1));
  background-image: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1));
}
.colorPicker label.red {
background: -webkit-linear-gradient(90deg, #fc00ff 10%, #00dbde 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #fc00ff 10%, #00dbde 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #fc00ff 10%, #00dbde 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #fc00ff 10%, #00dbde 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #fc00ff 10%, #00dbde 90%); /* W3C */
          -webkit-tap-highlight-color: #ff3e05;
}
.colorPicker label.orange {
background:-webkit-linear-gradient(90deg, #BA8B02 10%, #181818 90%);
  background:-moz-linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* FF3.6+ */
  background:-ms-linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* IE10 */
  background:-o-linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* Opera 11.10+ */
  background:linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* W3C */
  -webkit-tap-highlight-color: #ff8d05;
}
.colorPicker label.yellow {
 background: -webkit-linear-gradient(90deg, #FF4E50 10%, #F9D423 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF4E50 10%, #F9D423 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF4E50 10%, #F9D423 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF4E50 10%, #F9D423 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF4E50 10%, #F9D423 90%); /* W3C */  -webkit-tap-highlight-color: #ecca05;
}
.colorPicker label.green {
background: -webkit-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* W3C */
  -webkit-tap-highlight-color: #40af04;
}
.colorPicker label.blue {
  background: -webkit-linear-gradient(90deg, #1A2980 10%, #26D0CE 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #1A2980 10%, #26D0CE 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #1A2980 10%, #26D0CE 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #1A2980 10%, #26D0CE 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #1A2980 10%, #26D0CE 90%); /* W3C */
  -webkit-tap-highlight-color: #057fff;
}
.colorPicker label.indigo {
  background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF512F 10%, #DD2476 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF512F 10%, #DD2476 90%); /* W3C */
  -webkit-tap-highlight-color: #7500ca;
}
.colorPicker label.violet {
 background: -webkit-linear-gradient(90deg, #E55D87 10%, #5FC3E4 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #E55D87 10%, #5FC3E4 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #E55D87 10%, #5FC3E4 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #E55D87 10%, #5FC3E4 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #E55D87 10%, #5FC3E4 90%); /* W3C */
  -webkit-tap-highlight-color: #cc6fcc;
}
.colorPicker label.default {
  background-color: #333333;
  -webkit-tap-highlight-color: #333333;
}
.colorPicker label:first-of-type {
  border-radius: 0.25em 0 0 0.25em;
}
.colorPicker label:last-of-type {
  border-radius: 0 0.25em 0.25em 0;
}
.colorPicker label:hover {
  opacity: 1;
  color: #fff;
  letter-spacing: normal;
}
.colorPicker input {
  display: none;
}
.colorPicker input:checked + label {
  width: 90%;
  opacity: 1;
  color: #fff;
  letter-spacing: normal;
}
/*************
** Profile ***
*************/
.PContCont {
	height:100%;
	width: 100%;
	position: relative;
	margin-top:100px;
}
.SearchResultContainerFriend {
					position:relative;
					background:#d9d9d9;
					padding-bottom:100px;
					height:100px;
					width:50%;
					margin-bottom:20px;
					margin-left:auto;
					margin-right:auto;
				}
.ProfileMainCont {
					width:100%;
					height:100%;
					position: fixed;
					background:#333333;
				}
				.WallTop {
					height:20%;
					width:100%;
					background:rgba(0,0,0,0.8);
					position: fixed;
				}
				.WallPhotoImg {
					height:100%;
					width:100%;
					overflow:hidden;
					position: fixed;
				}
				.UsrPImage {
					margin-top:20px;
					margin-left:10px;
					width:100px;
					height:100px;
					position: fixed;
					border-radius: 20px;
					-webkit-box-shadow: 0px 0px 28px 9px rgba(255,255,255,0.2);
					-moz-box-shadow: 0px 0px 28px 9px rgba255,255,255,0.2);
					box-shadow: 0px 0px 28px 9px rgba(255,255,255,0.2);

				}
				.UsrWallFeedCont {
					width:45%;
					height:70%;
					overflow:scroll;
					padding-bottom:60px;
					position: fixed;
					float:left;
					float:bottom;
					bottom:20px;
					left:0px;
					background:rgba(0,0,0,0.8);
				}
				.UsrWallPicCont {
					width:45%;
					height:70%;
					position: fixed;
					overflow:scroll;
					padding-bottom:50px;
					float:right;
					float:bottom;
					bottom:20px;
					right:0px;
					background:rgba(0,0,0,0.8);
				}
				.ProfileWallImgContImg {
					width:100px;
					height:100px;
					margin:10px;
					position: relative;
				}
				.PostCont {
					width:90%;
					margin-left:auto;
					margin-right:auto;
					margin-top:20px;
					height:15%;
					position: relative;
				}
				textarea.UsrWallTextarea {
					width:100%;
					border-radius: 2px;
					height:70%;
					color:black;
					padding:5px;
					position: relative;
					border:0px;
					resize: none;
				}
				.UsrWallPostBtn {
					width:50px;
					height:30%;
					float:right;
					background:#333333;
					border:0px;
					position: relative;
				}
				.FeedLoadWallRepeat {
					width:90%;
					padding:2px;
					margin-left:auto;
					margin-right:auto;
					background:#333333;
					margin-top:20px;
					border-radius: 2px;
					position: relative;
				}
				.FeedWallLoadImg {
					width:90%;
					margin:10px;
					height:auto;
					position: relative;
				}

/*************
** Search ***
*************/
					.sresults {
					width:40%;
					background:white;
					height:100px;
					position: relative;
					margin-top:15px;
					border-radius: 3px;
					padding:10px;
					 -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
				}	
				.sresultstag {
				width:300px;
					background:white;
					height:auto;
					
					position: relative;
					margin-top:15px;
					border-radius: 3px;
					padding:20px;
					 -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;	
				}
				.sresults:hover {
					background:#d9d9d9;
					cursor: pointer;
				}
				.SearchResultContainer {
					margin-top:0px;
					overflow:scroll;
					position:fixed;
					background:#d9d9d9;
					padding-bottom:100px;
					height:100%;
					width:100%;
				}
				.SearchCont {
					width:100%;
					height:100px;
					top:40px;
					position: fixed;
				}
				.UsrAddBtnSearch {
					border:0px;background:none;display:inline-block;position:relative;float:right;bottom:50px;background:white;margin:0px;
				}
.UsrAddBtnSearch:hover {
	background: #d9d9d9;
	color:black;
}

.SearchTextRCont {
	width:80%;
	position: relative;
	height:100px;
	padding:5px;
	margin-left:100px;
	
}

.simage {
	border-radius:0px;width:100px;height:100px;position:relative;float:left;
	
}
.simagetag {
		border-radius:0px;width:200px;height:auto;position:relative;float:left;margin-top:25px;margin-left:50px;margin-right:50px;margin-bottom:50px;

}
/*************
** Messages ***
*************/
.messages iframe {
	max-width:180px;
	max-height:100px;
}
.messages img {
	max-width:180px;
	max-height:100px;
}
.messages video {
	max-width:180px;
	max-height:100px;
}


         .messages
            {
            	z-index: 100;
                height: 230px;
                background-color: green;
                background-color: rgb(237, 239, 244);
word-wrap: break-word;
position: relative;
                overflow-y: scroll;
            }

            .messages ul
            {
                padding: 0px;
                list-style-type: none;
            }

            .messages ul li
            {
                height: auto;
                margin-bottom: 10px;
                clear: both;
                padding-left: 10px;
                padding-right: 10px;
            }

            .messages ul li span
            {
                display: inline-block;
                max-width: 200px;
                background-color: white;
                padding: 5px;
                border-radius: 4px;
                position: relative;
                border-width: 1px;
                border-style: solid;
                border-color: grey;
            }

            .messages ul li span.received
            {
                float: left;
            }

            .messages ul li span.received:after
            {
                content: "";
                display: inline-block;
                position: absolute;
                left: -8.5px;
                top: 7px;
                height: 0px;
                width: 0px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 8px solid white;
            }

            .messages ul li span.received:before
            {
                content: "";
                display: inline-block;
                position: absolute;
                left: -9px;
                top: 7px;
                height: 0px;
                width: 0px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 8px solid black;
            }

            .messages ul li span.sent:after
            {
                content: "";
                display: inline-block;
                position: absolute;
                right: -8px;
                top: 6px;
                height: 0px;
                width: 0px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid #dbedfe;
            }

            .messages ul li span.sent:before
            {
                content: "";
                display: inline-block;
                position: absolute;
                right: -9px;
                top: 6px;
                height: 0px;
                width: 0px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid black;
            }

            .messages ul li span.sent
            {
                float: right;
                background-color: #dbedfe;
            }

            .clear
            {
                clear: both;
            }

            .input-box
            {
                background-color: white;
                height: 50px;
                padding: 0px;
            }

            .input-box textarea
            {
                padding: 0px;
                width: 278px;
                height: 100%;
                display: inline-block;
                outline: 0px;
                border-width: 0px;
                resize: none;
                border-width: 1px;
                border-color: black;
                border-style: solid;
                font-size: 12px;
                padding: 10px;
                border-top-width: 0px;
            }
                      .MsgInputHidden {
	    display:none;
    visibility:hidden;
}


/*************
** center-right-home ***
*************/

.Message_FEED {
  display: table;
  position: relative;
  width: 100%;
  background-color: #0074D9;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.Message.is-hidden {
  opacity: 0;
  height: 0;
  font-size: 0;
  padding: 0;
  margin: 0 auto;
  display: block;
}

.Message--orange {
  background-color: #F39C12;
}

.Message--red {
  background-color: #FF4136;
}

.Message--green {
  background-color: #2ECC40;
}

.Message-icon_FEED {
  display: table-cell;
  vertical-align: middle;
  width: 30px;
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}
.Message-icon > i {
  width: 20px;
  font-size: 20px;
}

.Message-body_FEED {
  display: table-cell;
  vertical-align: middle;
}
.Message-body > p {
  line-height: 1.2;
  margin-top: 6px;
}

.Message-button_FEED {
  position: relative;
  margin: 15px 5px -10px;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px rgba(0, 0, 0, 0.4);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'Source Sans Pro';
  outline: none;
  cursor: pointer;
}
.Message-button:hover {
  background: rgba(0, 0, 0, 0.3);
}
.Message-button:active {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px rgba(0, 0, 0, 0.4);
  top: 3px;
}

.Message-close {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  font-size: 20px;
  right: 5px;
  top: 5px;
  opacity: 0;
  cursor: pointer;
}
.Message:hover .Message-close {
  opacity: 1;
}
.Message-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}


/*************
** View-Pages ***
*************/
/*************
** C-Pages ***
*************/
.CreatePageCont {
	width:100%;
	margin-top:40px;
	height:100%;
	position: fixed;
	background:#d9d9d9;
}
.CPageCont1 {
	width:50%;
	height:50%;
	position: relative;
	float:left;
	float:top;
	background:#d9d9d9;
}
.CPageCont2 {
	width:50%;
	height:50%;
	position: relative;
	float:left;
	float:bottom;
	background:#d9d9d9;
}
.CPageCont3 {
	width:50%;
	height:50%;
	position: relative;
	float:right;
	float:top;
	background:#d9d9d9;
}
.CPageCont4 {
	width:50%;
	height:50%;
	position: relative;
	float:right;
	float:bottom;
	background:#d9d9d9;
}
.PageDetails {
	width:50%;
	height:80%;
	padding:10px;
	margin-top:5%;
	color:white;
	margin-left:25%;
	position: relative;
	background:#2e2e2e;
	border-radius: 3px;
	
}
.PageContent {
	width:50%;
	height:80%;
	margin-top:5%;
	margin-left:25%;
	color:white;
	position: relative;
	padding:10px;
	background:#2e2e2e;
	border-radius: 3px;
	
}
.PageUpload {
	width:50%;
	height:80%;
	margin-left:25%;
	position: relative;
	background:#2e2e2e;
	padding:10px;
	color:white;
	border-radius: 3px;
	
}
.PageInvite {
	width:50%;
	height:80%;
	margin-left:25%;
	position: relative;
	padding:10px;
	background:#2e2e2e;
	color:white;
	border-radius: 3px;
	
}
.CPageInput {
	width:95%;
	height:30px;
	border-radius: 2px;
	color:gray;
	border:1px solid #ccc;
}




.search_hash_repeat_cont {
	position: relative;
	height:auto;
	
	border-radius: 5px;
	width:300px;
	background:#efefef;
	
}
.search_hash_head {
	position: relative;
	top:0px;
	min-height:100px;
	height:auto;
	width:300px;
	background:none;
	
}
.Search_Usr_P_Img {
	height:100px;
	width:100px;
	border-top-left-radius: 5px;
	float:left;
	margin-right:5px;
	background:none;
}
.Search_Usr_Name_Hash_Cont {

	width:200px;
	min-height:20px;
	border-top-right-radius: 5px;
	height:auto;
	background:none;
	top:5px;
	margin-left:100px;	
}
.Search_Txt_Hash_Cont {
	width:200px;
	min-height:20px;
	height:auto;
	background:none;
	top:0px;
	margin-left:100px;	
}
.Search_Hash_Hash_Cont {
	width:200px;
	min-height:20px;
	height:auto;
	background:none;
	top:0px;
	margin-left:100px;	
}
.Search_Time_Hash_Cont {
	width:200px;
	min-height:20px;
	height:auto;
	background:none;
	top:0px;
	margin-left:100px;	
}
.Search_Hash_Img_Img_Cont {
	position: relative;
	width:250px;
	margin-left:25px;
	margin-top:10px;
	background:none;
	min-height:50px;
	margin-bottom:10px;
	height:auto;
}
.Search_Img_Video_Audio_Hash_Cont {
	min-height: 50px;
	height:auto;
	width:250px;
}
.row {
	margin-top:20px;
	margin-left:10px;
	width:70%;
	height:auto;
} iframe {
	min-height: 50px;
	height:auto;
	width:250px;
}
.Search_Hash_Main_R_Cont {
	display:inline-table;
	height:auto;
	margin-top:none;
	margin-left:10px;
	position: relative;
}
.Search_Main_Row_COnt {
	width:70%;
	height:100%;
	position: relative;
	margin-top:10px;
}




		.ProfileCont {
			height:100%;
			width:100%;
			position: fixed;
			margin-top:40px;
		}
		.PHeader {
			width:100%;
			background:#222222;
			height:200px;
			position: fixed;
			z-index: 50;
		}
		.PProfileImg {
			float:left;
			z-index: 100;
			position: fixed;
			display:inline-block;
			width:200px;
			height:200px;
			-webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
border-radius: 20px;
transition: border-radius 1s ease;  
}
.PProfileImg:hover {
	border-radius: 0px;
	 transition: border-radius 1s ease;  

}
		.PHeadImg {
			width:100%;
			margin-left:150px;
			height:150px;
			background:#222222;
			position: relative;
		}
		.PHeadTxtCont {
			width:200px;
			height:200px;
			right:0px;
			top:40px;
			position: fixed;
			color:white;
			font-family: 'Nokora', sans-serif;
			padding:10px;
		}
		.PHeadImgImg {
			width:50%;
			height:150px;
			overflow: hidden;
			margin-top:8px;
			margin-left:17%;
			position: relative;
		}
		.PHeadBtns {
			width:100%;
			height:50px;
			background:#222222;
			position: fixed;
			float:bottom;
			margin-left:17%;
			padding-left:17%;
		}
		.PBtnCol {
			background:#353535;
			width:150px;
			margin-top:5px;
			margin-bottom:5px;
			margin-left:5px;
			height:40px;
			position: relative;
			color:white;
			padding:7px;
			text-align: center;
			 transition: background 1s ease; 
		}
		.PBtnCol:hover {
	 transition: background 1s ease; 
	 background:#909090;
		}
		.PMainCont {
			width:100%;
			height:100%;
			background:white;
			position: relative;
			margin-top:130px;
			overflow: scroll;
			
		}
		
		
		
		       	.left_profile_img_cont {
		float:left;
		left:100px;
		margin-top:100px;
		width:500px;
		height:70%;
		position: fixed;
		background:#efefef;
	}
	.right_profile_img_cont {
		float:right;
		right:100px;
		margin-top:100px;
		width:500px;
		height:70%;
		position: fixed;
		background:#efefef;
	}
	.user_media_load_repeat_img {
		width:100px;
		height:100px;
	}
	.user_media_load_repeat_vid {
		width:200px;
			max-height:200px;
		height:auto;
		min-height:30px;
	}
	.User_Media_Load_Img_R_Cont {
		width:100px;
		height:100px;
		margin-bottom:5px;
		display: inline-block;
		margin-left:20px;
	}
	.User_Media_Load_Vid_R_Cont {
		width:200px;
		max-height:200px;
		height:auto;
		margin-bottom:5px;
		display: inline-block;
		margin-left:20px;
	} 
        .black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}
/*************
** C-Group ***
*************/



/*************
** C-Event ***
*************/



/*************
** C-Channel ***
*************/



/*************
** C-Advert ***
*************/



/*************
** Sell ***
*************/





/*************
** Responsives ***
*************/

	/*************
	** Home ***
	*************/
		
		/*************
		** 970px ***
		*************/
		@media (max-width:1024px) {
			.Center_Cont {
				width:350px;
			}
			.Center_Right_Cont {
				width:250px;
			}
			.Center_Cont iframe {
				max-width:265px;
				max-height:265px;
			}
			.Feed_Upload_Textarea {
				width:200px;
			}
			.Feed_Upload_Cont {
				width:300px;
			}
			.Feed_Upload_Profile_Cont {
				width:40px;
				height:40px;
			}
			
			.Feed_Repeat_Cont {
				width:300px;
			}
			.Feed_Repeat_Cont_Profile_Img {
				width:30px;
				height:30px;
			}
			.Feed_Repeat_Header_Cont {
				width:300px;
			}
			.Feed_Repeat_Cont_Media {
				width:300px;
			}
			.Feed_Repeat_Cont_Footer {
				width:300px;
			}
			.Feed_Repeat_Cont_Title {
				width:250px;
			}
			.FeedComments {
				width:300px;
			}
			.Likes_Dislikes_Comment {
				width:300px;
			}
			.Feed_Repeat_Cont_Img {
				max-width:270px;
			}
			.LikesDislikesComments {
				font-size: 8px;
			}
			
			.Center_Right_Cont {
				width:270px;
			}
			h6 {
				font-size: 10px;
			}
			h5 {
				font-size: 13px;
			}
			h4 {
				font-size: 16px;
			}
			h3 {
				font-size: 19px;
			}
			h2 {
				font-size: 22px;
			}
			h1 {
				font-size: 25px;
			}
			.FileSelect {
				font-size:10px;
			}
			.glyphicon {
				font-size:10px;
			}
			.SettingsBtn {
				font-size:10px;
				width:30px;
				height:20px;
			}
			/*************
			**** Home-Feed ****
			*************/

		}
		/*************
		** 770px ***
		*************/
		@media (max-width:770px) {
			.Center_Cont {
				width:255px;
			}
			.Center_Right_Cont {
				width:212px;
			}
			.Center_Cont iframe {
				max-width:195px;
				max-height:195px;
			}
			.Feed_Upload_Textarea {
				width:150px;
			}
			.Feed_Upload_Cont {
				width:225px;
			}
			.Feed_Upload_Profile_Cont {
				width:30px;
				height:30px;
			}
			
			.Feed_Repeat_Cont {
				width:225px;
			}
			.Feed_Repeat_Cont_Profile_Img {
				width:22px;
				height:22px;
			}
			.Feed_Repeat_Header_Cont {
				width:225px;
			}
			.Feed_Repeat_Cont_Media {
				width:225px;
			}
			.Feed_Repeat_Cont_Footer {
				width:225px;
			}
			.Feed_Repeat_Cont_Title {
				width:187px;
			}
			.FeedComments {
				width:225px;
			}
			.Likes_Dislikes_Comment {
				width:225px;
			}
			.Feed_Repeat_Cont_Img {
				max-width:202px;
			}
			.LikesDislikesComments {
				font-size: 8px;
			}
			
			.Center_Right_Cont {
				width:160px;
			}
			h6 {
				font-size: 7px;
			}
			h5 {
				font-size: 10px;
			}
			h4 {
				font-size: 13px;
			}
			h3 {
				font-size: 16px;
			}
			h2 {
				font-size: 19px;
			}
			h1 {
				font-size: 22px;
			}
			.FileSelect {
				font-size:10px;
			}
			.glyphicon {
				font-size:10px;
			}
			.SettingsBtn {
				font-size:10px;
				width:30px;
				height:20px;
			}
		
		}
		
		
		/*************
		** 570px ***
		*************/
		@media (max-width:570px) {
		
		
		}
		
		
		/*************
		** 370px ***
		*************/
		
		@media (max-width:370px) {
		
		
		}
		
	/*************
	** /////// ***
	*************/
		
	/*************
	** Settings ***
	*************/
		
		/*************
		** 970px ***
		*************/
		@media (max-width:970px) {
		
		
		}
		/*************
		** 770px ***
		*************/
		@media (max-width:770px) {
		
		
		}
		
		
		/*************
		** 570px ***
		*************/
		@media (max-width:570px) {
		
		
		}
		
		
		/*************
		** 370px ***
		*************/
		
		@media (max-width:370px) {
		
		
		}
	/*************
	** /////// ***
	*************/
		
	/*************
	** Profile ***
	*************/
	
		/*************
		** 970px ***
		*************/
		@media (max-width:970px) {
		
		
		}
		/*************
		** 770px ***
		*************/
		@media (max-width:770px) {
		
		
		}
		
		
		/*************
		** 570px ***
		*************/
		@media (max-width:570px) {
		
		
		}
		
		
		/*************
		** 370px ***
		*************/
		
		@media (max-width:370px) {
		
		
		}
	/*************
	** /////// ***
	*************/
		
	/*************
	** Search ***
	*************/
	
		/*************
		** 970px ***
		*************/
		@media (max-width:970px) {
		
		
		}
		/*************
		** 770px ***
		*************/
		@media (max-width:770px) {
		
		
		}
		
		
		/*************
		** 570px ***
		*************/
		@media (max-width:570px) {
		
		
		}
		
		
		/*************
		** 370px ***
		*************/
		
		@media (max-width:370px) {
		
		
		}
	/*************
	** /////// ***
	*************/
		
/*************
** /////// ***
*************/