body {
	background:#5D9CEC;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}
h4 {
	color:white;
}
h6 {
	color:white;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color:#4A89DC ;
}
.Notification_Container_Fab {
	background:white;
}
.Content_Media_loop {
	background:#efefef;
}
.Notification_selects h6 {
	color:white;
}
.Chat_Container_Fab {
	background:rgba(0,0,0,0.3)
}
.MyVideoLoop {
	background:#5D9CEC ;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}
.MyVideoLoopTitle {
	color:white;
	background:#5D9CEC;
}
	.Post_Container textarea {
	background:white;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}
	.Post_Container span {
	 background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);

}
	.Post_Container span:hover {
		color:#5D9CEC;
	}

	.Post_Container button {
		background:#5D9CEC;
		 -moz-box-shadow:inset 0 3px 8px rgba(0,0,0,.4);
   -webkit-box-shadow:inset 0 3px 8px rgba(0,0,0,.4);
   box-shadow:inset 0 3px 8px rgba(0,0,0,.24);
		color:white;
	}

	.Post_Container button:hover {
		background:#3BAFDA;
	}
.Feed_Contents_Loop {
	background:#656D78 ;
	  -moz-box-shadow: inset 0 3px 8px rgba(225,255,255,.4);
   -webkit-box-shadow: inset 0 3px 8px rgba(225,255,255,.4);
   box-shadow: inset 0 3px 8px rgba(225,255,255,.24);
}
.Header_Feed_Contents_Loop {
	color:white;
	background:inherit;
	  -moz-box-shadow:  0 3px 8px rgba(0,0,0,.4);
   -webkit-box-shadow:  0 3px 8px rgba(0,0,0,.4);
   box-shadow:  0 3px 8px rgba(0,0,0,.24);

}
.Feed_Contents_Loop h4 {
	color:white;
}
.Header_Feed_Contents_Loop img {
	  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}
.Header_Feed_Contents_Loop span {
	 background-color: #efefef ;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(239,239,239,0.5);
 }
	.Music {
		background:rgba(55,188,155,0.8);
	}
	.Status {
		background:rgba(255,206,84,0.8);
	}
	.Video {
		background:rgba(218,68,83,0.8);

	}
	.Picture {
		background:rgba(74,137,220,0.8);

	}
	.dropdown button {
	background:none;
	color:transparent;

}
.dropdown select {
	color:#999;
}
.UpdateBtnPerm {
	color:#999;
	background:#5D9CEC;
}

.dropdown button:hover {
	background:none;
	color:rgba(0,0,0,0.5);
}
.dropdown span {
	 background-color: #565656;
  color: inherit;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
}
.UserHeaderProfileContainer {

    background: #434A54;
      background-image: url("https://orig11.deviantart.net/20eb/f/2015/030/6/f/_minflat__dark_material_design_wallpaper__4k__by_dakoder-d8fjqzu.jpg");
  background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;

background-position:center;
      -moz-box-shadow: 0 5px 8px rgba(0,0,0,.4);
   -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.4);
   box-shadow: 0 5px 8px rgba(0,0,0,.4);

}
.UserHeaderProfileContainer h4 {
	color:white;
}
.UserHeaderProfileContainer span {
	 background-color: #efefef;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.2);

}
.UserHeaderProfileContainer h5 {

	color:white;
}
.Navbar {
	background: #434A54;
	-webkit-box-shadow: 0px 0px 37px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 37px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 37px -5px rgba(0,0,0,0.75);
}
::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}
::-moz-placeholder {
    color:    #999;
}
:-ms-input-placeholder {
    color:    #999;
}
.Navbar input {
		color:gray;
		background:white;
		  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.2);
   -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.2);
   box-shadow: inset 0 3px 8px rgba(0,0,0,.2);
}
.column_left {

	background:rgba(0,0,0,0.3);

}

.Left_Col_Head {
	background-image: url("https://orig11.deviantart.net/20eb/f/2015/030/6/f/_minflat__dark_material_design_wallpaper__4k__by_dakoder-d8fjqzu.jpg");
	background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;

background-position:center;
}
.Left_Col_Selects {
	background:;
	color:gray;
	transition:background 0.2s, color 0.2s;
}
.Left_Col_Selects:hover {
	background:rgba(0,0,0,0.3);
	color:white;
	  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}
.Left_Col_Selects span {
	 background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);

}
.New_Content_Noti {
	background:#EC87C0;
	color:white;

}

.Left_Col_Head h3 {
	color:white;
}